<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Create recipe</title>
</head>
<body>

<section layout:fragment="section" class="py-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8">
        <!-- Post content-->
        <article>
          <!-- Post header-->
          <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1" th:text="${recipe.title}"></h1>
          </header>
          <!-- Preview image figure-->
          <figure class="mb-4"><img class="img-fluid rounded" th:src="${recipe.photoUrl}" /></figure>
          <!-- Post content-->
          <div class="card mb-5">
            <div class="card-body">
              <h2 class="fw-bolder mb-4 mt-5">How to cook it?</h2>
              <p class="fs-5 mb-4" th:text="${recipe.content}"></p>
            </div>
          </div>
        </article>
        <div class="mb-5">
          <div><a class="btn btn-outline-danger" th:href="@{/recipes/delete/{recipeId}(recipeId=${recipe.id})}">Delete</a></div>
        </div>
      </div>
      <!-- Side widgets-->
      <!-- <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-header">Ingredients</div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li><a href="#!">Web Design</a></li>
                  <li><a href="#!">HTML</a></li>
                  <li><a href="#!">Freebies</a></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li><a href="#!">JavaScript</a></li>
                  <li><a href="#!">CSS</a></li>
                  <li><a href="#!">Tutorials</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</section>

</body>
</html>